
@if(isEditMode == false) {
    <td>{{item.title}}</td>
    <td>{{item.creationDate | date: 'dd/M/yyyy' }}</td>
    <td>{{item.dueBy | date: 'dd/M/yyyy'}}</td>

    @if (item.isCompleted == false) {
        <td><input type="checkbox" [checked]=(item.isCompleted) (click)="setItemComplete()"></td>
        <td><button type="button" class="btn btn-info" (click)="setEditMode()">Edit</button></td>
    } @else {
        <td>Done</td>
        <td></td>
    }
    
    <td><button type="button" class="btn btn-danger" (click)="deleteItem()">Delete</button></td>
} @else {
    <td>
        <form [formGroup]="todoitemForm">
            <input type="text" formControlName="title">
        </form>
    </td>
    <td>{{item.creationDate | date: 'dd/M/yyyy' }}</td>
    <td>{{item.dueBy | date: 'dd/M/yyyy' }}</td>
    <td>{{item.isCompleted! ? "Yes" : "No"}}</td>
    <td><button type="submit" class="btn btn-success" (click)="saveChanges()"  [disabled]="todoitemForm.invalid">Save</button></td>
    <td><button type="button" class="btn btn-danger" (click)="cancelEdit()">Cancel</button></td>
}
