 <section class="results">
    <table>
        <thead style="display: table-header-group">
            <tr>
                <th>Title</th>
                <th>Creation Date</th>
                <th>Due By</th>
                <th>Completed</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @for(item of todoitemList; track item.id) {
                <tr [class.statusComplete]="item.isCompleted == true" [class.overdue]="item.isOverdue == true" app-todo-item [todoItem]="item"></tr>
        }
        </tbody>
    </table>

</section>