 <section class="results">
    <table>
        <thead style="display: table-header-group">
            <tr>
                <th>Title</th>
                <th>Creation Date</th>
                <th>Due Date</th>
                <th>Completed</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @for(todoitem of todoitemList; track $index) {
                <tr app-todo-item [todoItem]="todoitem"></tr>
        }
        </tbody>
    </table>

</section>