table {
  border-collapse: collapse; /* Merges adjacent cell borders */
}

th, td {
  border: 1px solid black; /* Applies border to cells */
}

.statusComplete > td:nth-child(-n + 3) {
  background-color: lightgreen;
  text-decoration: line-through;
}

.overdue {
  background-color: lightcoral;
}
