<table>
    <thead>
    <th>Description</th>
    <th>Date Created</th>
    <th>DateCompleted</th>
    <th>Completed</th>
    </thead>
    <tbody>
        <tr *ngFor="let todoitem of todoitems;" (click)="updateToDoItem(todoitem.id!)">
            <td>{{todoitem.title}}</td>
            <td>{{todoitem.creationDate}}</td>
            <td>{{todoitem.completedDate}}</td>
            <td>{{todoitem.isCompleted}}</td>
        </tr>
    </tbody>
</table>

<button class="btn btn-default" (click)="addToDoItem()">Add ToDo Item</button>

