
<section>
<form [formGroup]="todoitemForm" (submit)="addToDoItem()">
	<label for="title">Title</label>
	<input id="title" type="text" formControlName="title" />
    <span>
      @if(!todoitemForm.get('title')?.valid && todoitemForm.get('title')?.touched) {
      class="help-block">This field is required.
      }
  </span> 
	<label for="completeBy">Due By</label>
	<input readonly id="due-by" type="text" formControlName="dueBy" />
    <span>
      @if(!todoitemForm.get('dueBy')?.valid && todoitemForm.get('dueBy')?.touched) {
      class="help-block">This field is required.
      }
  </span>
  <br />
	<button type="submit" class="primary">Add</button>
</form>
</section>
<hr />
<section class="results">
<app-todo-items-list />
</section>